.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
  width: 100%;
}

.content__left {
  width: 500px;
  height: auto;
  padding: 30px;
}

img.logo__image {
  margin-left: 30%;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
}

.content__left h1 {
  font-size: 3em;
  color: white;
  margin-bottom: 30px;;
}

h3 {
  align-items: center;
  justify-content: center;
  margin-left: 150px;
  color: white;
  padding: 25px;
}

p {
  padding-bottom: 10px;
  color: white;
}

.content__left button {
  background: #fff;
  border-radius:  12px;
  padding: 15px 35px;
  color: #1680AC;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border: none;
  margin: 20px;
}
