.portfolio__page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.portfolio__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 250px;
    margin: auto 50%;
}

.portfolio__content h2 {
    font-size: 8em;
    color: #2696E9;
    padding: 30px;
}

.portfolio__content h4 {
    font-size: 4em;
    color: white;
    padding: 35px;
}

