.contact__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 250px;
}

.contact__form {
    flex-direction: column;
    padding-bottom: 20px;
}

.contact__form h3 {
    padding-bottom: 20px;
    margin-left: 20px;
}

.contact__form label {
    color: white;
}

.contact__info h5 {
    margin-bottom: 10px;
    color: white;
    font-size: larger;
}

.contact__info p {
    color: white;
    padding: 3px;
}

.contact__info svg {
    padding-right: 5px;
    font-size: 20px;
}

.address {
    margin-bottom: 20px;
}

.media__icons a {
    color: #fff;
    font-size: .8em;
    transition: 0.3s ease;
    margin-left: 30px;
    margin-top: 30px;
}

@media only screen and (max-width: 768px) {
    .contact__content {
      padding: 50px;
      flex-direction: column;
    }

    .contact__form {
        margin-top: 20px;
    }
  
    .media__icons {
      display: flex;
      justify-content: center;
    }
  
    .media__icons a {
      margin-left: 0;
      margin-top: 20px;
    }

    iframe {
        display: none;
    }
  }